<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <modules>
    <module assemblyFile="SharedModule.dll" 
            moduleType="SharedModule.SharedModuleComponent, SharedModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
            moduleName="Shared Module" 
            startupLoaded="true" />

    <module assemblyFile="ContentModuleLibrary.dll"
        moduleType="ContentModuleLibrary.ContentModule, ContentModuleLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        moduleName="Content Module"
        startupLoaded="true" />
  </modules>
</configuration>