<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="PhotosFolder" value="C:\00 WPF\Demonstrations\people"/>
  </appSettings>

  <connectionStrings>
    <add connectionString="data source=ramthinkpad\instance2;user id=sa;password=Prestige;initial catalog=MVVMTrainingDB;"
         providerName="System.Data.SqlClient"
         name="MVVMTrainingDB"/>
  </connectionStrings>
</configuration>