<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="Alstom.Libraries.DAL.Interfaces" />
  <assembly name="Alstom.Libraries.DAL.Impl" />
  <assembly name="Alstom.Libraries.Business.Interfaces" />
  <assembly name="Alstom.Libraries.Business.Impl" />
  
  <assembly name="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  <assembly name="Alstom.Libraries.UI.Views" />

  <assembly name="Alstom.Libraries.UI.Framework" />
  <assembly name="Alstom.Libraries.UI.ViewModels.Interfaces" />
  <assembly name="Alstom.Libraries.UI.ViewModels.Impl" />
  <assembly name="Alstom.Libraries.UI.Services.Interfaces" />
  <assembly name="Alstom.Libraries.UI.Services.Impl" />

  <namespace name="Alstom.Libraries.DAL.Interfaces" />
  <namespace name="Alstom.Libraries.DAL.Impl" />
  <namespace name="Alstom.Libraries.Business.Interfaces" />
  <namespace name="Alstom.Libraries.Business.Impl" />
  
  <namespace name="System.Windows" />
  <namespace name="Alstom.Libraries.UI.Views" />
  
  <namespace name="Alstom.Libraries.UI.Framework" />
  <namespace name="Alstom.Libraries.UI.ViewModels.Interfaces" />
  <namespace name="Alstom.Libraries.UI.ViewModels.Impl" />
  <namespace name="Alstom.Libraries.UI.Services.Interfaces" />
  <namespace name="Alstom.Libraries.UI.Services.Impl" />
  
  <container>
    <register mapTo="CustomersContext" type="ICustomersContext" />
    <register mapTo="CustomerService" type="ICustomerService" />
    <register mapTo="WPFApplicationService" type="IApplicationService" />
    <register mapTo="WPFViewService" type="IViewService" />
    <register mapTo="MainView" type="Window" name="MainView" />
    <register mapTo="HelpView" type="Window" name="HelpView" />
    <register mapTo="MainViewModel" type="BaseViewModel" name="MainViewModel" />
  </container>
</unity>